#page, #assessments{
    border-top:solid 1px;
    background: #d6d4ce;
    padding:10px;
    font-size:14px
}
#content{
    background:white;
    padding:35px;
    width:90%;
    max-width:1180px;
    margin-top: 60px;
}

#footer {
    text-align: center
}

#footer img, #who-is-involved img{
    height: 50px;
    margin: 0 25px
}

#footer .south-seeds-logo, #who-is-involved .south-seeds-logo{
    height: 125px;
}

#nav-bar{
    margin: 0px 0px 0;
    position:fixed;
    width:100%;
    background: white;
    top: 0;
    padding: 10px 50px;
}

#nav-bar .logo{
    height: 30px;           
}

#nav-bar .menu-navigation{
    float: right;
    margin-right: 30px;
    color:black;
}

#nav-bar a{
    color:black;
}

#nav-bar .menu-text{
    display:inline-block;
    margin-left: 25px;
}

h1, h2, h3{
    color:#ff2712;
}

h1{
    font-size:30px;
}
h2{
    font-size:25px;
    margin-top: px;
}




hr{
    border-color: #ff2712
}

