#page, #assessments{
    border-top:solid 1px;
    background: white;
    padding:10px;
    font-size:20px
}
#content{
    background:white;
    padding:35px;
    width:90%;
    max-width:1180px;
}

#footer {
    text-align: center
}

#footer img, #who-is-involved img{
    height: 50px;
    margin: 0 25px
}

#footer .south-seeds-logo, #who-is-involved .south-seeds-logo{
    height: 125px;
}

.navbar .logo{
    height: 30px;           
    margin-right:25px;
}


.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: black;
}


.navbar{
    z-index:2
}

h1{
    font-size:30px;
}
h2{
    font-size:25px;
    margin-top: px;
}
[v-cloak] {
    display: none;
}

#assessment-table-component table td{
    font-size:18px
}

.navbar-custom {
    background-color: #e9f9e7 !important;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color:#305698


}

@media print{
    #footer{
        margin-top: 0px
    }
    body, #page, #content.container{
        border: none;
        background-color: white;
        margin-top: 30px;
        padding-top: 0;
    }
}

a{
    color:#305698
}

.cookie-consent{
    background-color: lightgrey!important;
    color:black !important
}

.navbar-brand{
    color:#305698!important;
    font-weight:bold;
}

.navbar-brand p{
    font-size:16px;
    margin: 0;
    font-style: italic; 
}

@media only screen and (max-width: 690px){
    .strapline{display:none}
} 

#registration-form{
    margin-bottom:25px;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0);  
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}