#page, #assessments{
    border-top:solid 1px;
    background: #d6d4ce;
    padding:10px;
    font-size:18px
}
#content{
    background:white;
    padding:35px;
    width:90%;
    max-width:1180px;
}

#footer {
    text-align: center
}

#footer img, #who-is-involved img{
    height: 50px;
    margin: 0 25px
}

#footer .south-seeds-logo, #who-is-involved .south-seeds-logo{
    height: 125px;
}

.navbar .logo{
    height: 30px;           
    margin-right:25px;
}


.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: black;
}


.navbar{
    z-index:2
}

h1{
    font-size:30px;
}
h2{
    font-size:25px;
    margin-top: px;
}
[v-cloak] {
  display: none;
}